<!DOCTYPE html>
<html>
  <head>
    <title>Sky</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-refresh-method" content="morph">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render '/stylesheets' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= render "/javascripts" %>
  </head>

  <body>
    <%= render "/flashes" %>
    <%= yield %>
    <%= render '/modal_wrapper' %>
  </body>
</html>
